.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 0;
    background: #ffffff;
    font-family: "Poppins", sans-serif;
}

.header__logo {
    width: 4.5rem;
    cursor: pointer;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    margin: 0 0.65rem;
    transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.header__link {
    font-size: 0.9rem;
    color: #1a212f;
}

.header__link:hover {
    color: #87a084;
}
