.image__gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 4rem 0 0 0;
}

.image__gallery__subtitle {
    max-width: 37rem;
    font-size: 1.05rem;
    font-weight: 400;
    margin: 1rem 0;
    font-family: "Lato", sans-serif;
    color: #1a212f;
}

.image__gallery__image {
    width: 15rem;
    height: 100%;
}

.image__gallery__content {
    margin: 3.5rem 0 0 0;
    width: 47rem;
}

@media screen and (max-width: 1000px) {
    .image__gallery__image {
        display: flex;
        flex-direction: column;
    }

    .image__gallery__image {
        width: 8rem;
    }
    
    .image__gallery__content {
        margin: 3.5rem 1rem 0 1rem;
        width: 25rem;
    }

}

